[Unit]
Description=Check on battery every 2 minutes to warn the user in case of low battery

[Timer]
OnActiveSec=2m
OnUnitActiveSec=2m

[Install]
WantedBy=timers.target
