# Sway config file
#
# Read `man 5 sway` for a complete reference.

# Test other Mod keys
#bindsym Mod1+Return exec $term -T "st Mod1 Left Alt"
#bindsym Mod2+Return exec $term -T "st Mod2"
#bindsym Mod3+Return exec $term -T "st Mod3"
#bindsym Mod4+Return exec $term -T "st Mod4 Cmd / Windows (L & R)"
#bindsym Mod5+Return exec $term -T "st Mod5 Right Alt"

# Requires: alacritty, swaylock, rofi, sway, swayidle
# Requires: libpulse, swaynagmode, waybar
# Requires: wl-clipboard

# -----------------------------------------------------------------------------
# Global Settings

# font settings
font pango: SourceCodePro Medium 12

# float settings
floating_minimum_size 150 x 150
#floating_maximum_size 2500 x 1500
floating_maximum_size 1600 x 900

# border width
default_border pixel 1
#default_floating_border normal 1

# gaps settings
smart_gaps on
gaps inner 5
gaps outer 0

# -----------------------------------------------------------------------------
# Variables

# use windows / cmd key
set $mod Mod4

# Home row direction keys, like vim
set $left h
set $down j
set $up k
set $right l

# preferred terminal emulator
#set $term alacritty -o font.size=12.0
#set $term terminator
set $term foot

# preferred lock command
set $lockcmd $HOME/bin/fancy-swaylock

# preferred launcher - rofi
set $drun_menu rofi -show drun -theme "solarized_alternate"
set $run_menu rofi -show run -theme "solarized_alternate"
set $combi_menu "rofi -modi drun,combi,window -show drun -combi-modi run,drun -theme solarized_alternate"

# dmenu launcher commands
# Note: pass the final command to swaymsg so that the resulting window can be opened
# on the original workspace that the command was run on.
set $dmenu dmenu_path | dmenu | xargs swaymsg exec --

# -----------------------------------------------------------------------------
# Output configuration

# You can get the names of your outputs by running: swaymsg -t get_outputs
#
#   output HDMI-A-1 resolution 1920x1080 position 1920,0
#
#output * resolution --custom 1366x768
output * mode 1600x900
#output LVDS-1 scale 0.85

# Default wallpaper (more resolutions are available in /usr/share/backgrounds/sway/)
#output * bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill
output * bg /home/judge/.config/sway/wallpaper.png fill
#output * bg /home/judge/Pictures/sexy-model-woman-boobs-nude-gorgeous-trimmed-pussy-african-pierced-nipples-1366x768.png fill
#output * bg $HOME/Pictures/Montage/ivi_pizzot_montage_1920x1200_16668.jpg fill


# -----------------------------------------------------------------------------
# Idle configuration - auto screen lock
#
exec swayidle -w \
         timeout 600 'fancy-swaylock' \
         timeout 900 'swaymsg "output * dpms off"' \
         resume 'swaymsg "output * dpms on"' \
         before-sleep 'fancy-swaylock'
#
# This will lock your screen after 600 seconds of inactivity, then turn off
# your displays after another 300 seconds, and turn your screens back on when
# resumed. It will also lock your screen before your computer goes to sleep.


# -----------------------------------------------------------------------------
# Input configuration
#
input "type:touchpad" {
      tap enabled
      click_method clickfinger
      drag enabled
      drag_lock enabled
      natural_scroll enabled
      scroll_method two_finger
}

# You can get the names of your inputs by running: swaymsg -t get_inputs
# Read `man 5 sway-input` for more information about this section.
input "type:keyboard" {
      xkb_layout gb 
      # xkb_model macbook79
}
# only add the xkb_model setting if on a macbook
exec_always ~/bin/kbd_model


# -----------------------------------------------------------------------------
# Key bindings
#=
#= Basics:
#=
    # Start a terminal
    bindsym $mod+Return exec $term

    # Kill focused window
    bindsym $mod+Shift+q kill

    # help for key bindings
    bindsym $mod+Shift+slash exec ~/.config/i3/keys.sh sway

    # launcher bindings
    bindsym $mod+d exec $drun_menu
    bindsym $mod+Shift+d exec $run_menu
    #bindsym $mod+Control+d exec $run_menu
    bindsym $mod+Control+d exec $dmenu

    # Drag floating windows by holding down $mod and left mouse button.
    # Resize them with right mouse button + $mod.
    # Despite the name, also works for non-floating windows.
    # Change normal to inverse to use left mouse button for resizing and right
    # mouse button for dragging.
    floating_modifier $mod normal

    # Reload the configuration file
    bindsym $mod+Shift+c reload

    # manually lock the screen
    bindsym Ctrl+l exec $lockcmd

    # Exit sway (logs you out of your Wayland session)
    #bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'

    # run pacman -Syu in a terminal
    bindsym $mod+u exec $term -e update_packages

#=
#= Moving Around:
#=
    # move to monitor
    bindsym $mod+Control+Left move workspace to output left
    bindsym $mod+Control+Right move workspace to output right

    # Move your focus around - use $mod+[up|down|left|right]
    bindsym $mod+Left focus left
    bindsym $mod+Down focus down
    bindsym $mod+Up focus up
    bindsym $mod+Right focus right

    # Move the focused window with the same, but add Shift
    bindsym $mod+Shift+Left move left
    bindsym $mod+Shift+Down move down
    bindsym $mod+Shift+Up move up
    bindsym $mod+Shift+Right move right
#=
#= Workspaces:
#=
    # Switch to workspace
    bindsym $mod+1 workspace number 1
    bindsym $mod+2 workspace number 2
    bindsym $mod+3 workspace number 3
    bindsym $mod+4 workspace number 4
    bindsym $mod+5 workspace number 5
    bindsym $mod+6 workspace number 6
    bindsym $mod+7 workspace number 7
    bindsym $mod+8 workspace number 8
    bindsym $mod+9 workspace number 9
    bindsym $mod+0 workspace number 10

    # Move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace number 1
    bindsym $mod+Shift+2 move container to workspace number 2
    bindsym $mod+Shift+3 move container to workspace number 3
    bindsym $mod+Shift+4 move container to workspace number 4
    bindsym $mod+Shift+5 move container to workspace number 5
    bindsym $mod+Shift+6 move container to workspace number 6
    bindsym $mod+Shift+7 move container to workspace number 7
    bindsym $mod+Shift+8 move container to workspace number 8
    bindsym $mod+Shift+9 move container to workspace number 9
    bindsym $mod+Shift+0 move container to workspace number 10
    # Note: workspaces can have any name you want, not just numbers.
    # We just use 1-10 as the default.
#=
#= Layout stuff:
#=
    # You can "split" the current object of your focus with
    # $mod+h or $mod+v, for horizontal and vertical splits
    # respectively.
    bindsym $mod+h split h
    bindsym $mod+v split v

    # change container layout (stacked, tabbed, toggle split)
    bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split

    # enter fullscreen mode for the focused container
    bindsym $mod+f fullscreen

    # toggle tiling / floating
    bindsym $mod+Shift+space floating toggle

    # change focus between tiling / floating windows
    bindsym $mod+space focus mode_toggle

    # focus the parent container
    bindsym $mod+a focus parent

    # focus the child container
    #bindsym $mod+d focus child
#
# Scratchpad:
#
    # "scratchpad", which is a bag of holding for windows.
    # You can send windows there and get them back later.

    # Move the currently focused window to the scratchpad
    #bindsym $mod+Shift+minus move scratchpad

    # Show the next scratchpad window or hide the focused scratchpad window.
    # If there are multiple scratchpad windows, this command cycles through them.
    #bindsym $mod+minus scratchpad show
#=
#= Resizing containers:
#=
mode "resize" {
    # These bindings trigger as soon as you enter the resize mode

    # left will shrink the containers width
    # right will grow the containers width
    # up will shrink the containers height
    # down will grow the containers height

    #bindsym Left resize shrink width 10px
    #bindsym Down resize grow height 10px
    #bindsym Up resize shrink height 10px
    #bindsym Right resize grow width 10px

    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Down resize grow height 10 px or 10 ppt
    bindsym Up resize shrink height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

#
# Media keys:
#
    # audio controls
    set $mute    exec changeVolume set-sink-mute @DEFAULT_SINK@ toggle
    set $mic_off exec changeVolume set-source-mute @DEFAULT_SOURCE@ toggle
    set $vol_dn  exec changeVolume set-sink-volume @DEFAULT_SINK@ -5%
    set $vol_up  exec changeVolume set-sink-volume @DEFAULT_SINK@ +5%

    bindsym XF86AudioMute        $mute
    bindsym XF86AudioMicMute     $mic_off
    bindsym XF86AudioLowerVolume $vol_dn
    bindsym XF86AudioRaiseVolume $vol_up

    # screen brightness controls
    bindsym XF86MonBrightnessUp exec changeBrightness -inc
    bindsym XF86MonBrightnessDown exec changeBrightness -dec

    # keyboard brightness controls
    bindsym XF86KbdBrightnessUp exec kbdbrightness -inc
    bindsym XF86KbdBrightnessDown exec kbdbrightness -dec

#=
#= Screen Resolution
#=
    bindsym $mod+minus exec $HOME/bin/scale_sway.py -i
    bindsym $mod+equal exec $HOME/bin/scale_sway.py -d
#=
#= Random Wallpaper
#=
    bindsym $mod+b exec ~/bin/random_swaybg.py
    bindsym $mod+Shift+b exec ~/bin/random_swaybg.py $HOME/Pictures/Montage/ivi_pizzot_montage_1920x1200_16668.jpg fill
#=
#= Toggle Alacritty Opacity
#=
    bindsym $mod+Control+a exec "$HOME/bin/toggle_alacritty_opacity.sh -d"
    bindsym $mod+Shift+a exec "$HOME/bin/toggle_alacritty_opacity.sh -i"


# -----------------------------------------------------------------------------
#
# Extras from Jessie Frazelle dotfiles
#=
#= Screenshots
#=
    # Screenshot fullscreen, sway
    bindsym Print exec "swaygrab  ${HOME}/Pictures/Screenshots/$(date '+%Y-%m-%d-%H-%M-%S').png"

    # Screenshot capture, sway
    bindsym $mod+Print exec "swaygrab region ${HOME}/Pictures/Screenshots/$(date '+%Y-%m-%d-%H-%M-%S').webm"

    # Screenshot current focused window, sway
    bindsym Shift+Print exec "swaygrab active ${HOME}/Pictures/Screenshots/$(date '+%Y-%m-%d-%H-%M-%S').png"

#-
#-Keys used and available
#-
#-   [Mod] UNSHIFTED                        [Mod] SHIFTED
#-    ,1,2,3,4,5,6,7,8,9,0,-,=               ,1,2,3,4,5,6,7,8,9,0,_,+
#-    ,w,e,r, , ,u, , , , , ,               Q, , , , , , , , , , , ,
#-   a,s,d,f, ,h, , , , , , ,               A, ,D, , , , , , , , , , ,[return]
#-   ,  , ,c,v,b, , , , ,                    , , ,C, ,B, , , , ,/
#-   [space],[left],[up],[down],[right]     [space],[left],[up],[down],[right]
#-
#- 
#-   [Mod] CONTROL                          CTRL (no Mod)
#-   A                                      , , , , , , , ,l
#-   [left],[right]                         
#-


# END_KEYS

###----------------------------------------------------------------------------
### nag settings

    # nag
    set {
	$nag         exec swaynagmode
	$nag_exit    $nag --exit
	$nag_confirm $nag --confirm
	$nag_select  $nag --select
    }
    mode "nag" {
      bindsym {
	    Ctrl+d    mode "default"

	    Ctrl+c    $nag_exit
	    q         $nag_exit
	    Escape    $nag_exit

	    Return    $nag_confirm

	    Tab       $nag_select prev
	    Shift+Tab $nag_select next

	    Left      $nag_select next
	    Right     $nag_select prev

	    Up        $nag_select next
	    Down      $nag_select prev
      }
    }
    #bindsym $mod+Shift+e exit

    bindsym {
      $mod+Shift+e $nag -t "warning" -m "Exit Sway?" -b "Exit" "swaymsg exit" -b "Reload" "swaymsg reload" -b "Power Off" "poweroff" -b "Reboot" "reboot"
    }
    # -R is recommended for swaynag_command so that, upon a syntax error in your sway config, the
    # 'Reload Sway' option will be initially selected instead of the 'Exit Sway' option
    swaynag_command $nag -R

# -----------------------------------------------------------------------------
# Status Bar:
#
# Read `man 5 sway-bar` or `man 5 waybar` for more information about this 
# section.
bar {
    swaybar_command waybar
}
#bar {
#    position top
#    font pango: FontAwesome 10
#    status_command i3blocks
#    colors {
#        separator  #268bd2
#        background #202020ee
#        statusline #83949600
#        focused_workspace  #aaaaaa #6c71c4   #-ccccc
#        active_workspace   #fdf6e3 #6c71c4   #fdf6e3
#        inactive_workspace #586e75 #202020ee #586e75
#        urgent_workspace   #d33682 #d33682   #fdf6e3
#    }
#}

# -----------------------------------------------------------------------------
# Discrete app settings

# tigervnc, Brave - open on new workspace
assign [class="TigerVNC Viewer"] → 6
assign [class="Brave-browser"] → 10
assign [app_id="firefoxdeveloperedition"] → 10

# spotify, brave: no border
for_window [app_id="^Spotify$"] border none
for_window [app_id="^Spotify Premium$"] border none
for_window [app_id="Brave-browser"] border none
for_window [app_id="firefoxdeveloperedition"] border none

# no title: st terminal
for_window [app_id="st-256color"] border pixel 1
for_window [app_id="Alacritty"] border pixel 1

# skype, steam, wine, Gimp etc. : float
for_window [class="Code"] floating enable
for_window [app_id="copyq"] floating enable
for_window [class="feh"] floating enable
for_window [class="Gimp"] floating enable
for_window [class="Gimp-2.10"] floating enable
#for_window [class="Tor Browser"] floating enable
for_window [app_id="virt-manager"] floating enable
for_window [app_id="virt-viewer"] floating enable
#for_window [class="VirtualBox"] floating enable
#for_window [class="vlc"] floating enable
#for_window [class="Wine"] floating enable
#for_window [class="zoom"] floating enable
for_window [app_id="Qemu-system-i386"] floating enable
for_window [app_id="qemu-system-x86_64"] floating enable
#for_window [class="jigsawgirls.exe"] floating enable
for_window [app_id="mpv"] floating enable
for_window [class="Fontviewer"] floating enable
for_window [class="Toplevel"] floating enable
for_window [app_id="yad"] floating enable

for_window [class="NEdit"] border normal 1
for_window [class="NEdit" instance="FileSelect_popup"] floating enable, border pixel 1
for_window [class="NEdit" instance="help"] floating enable
for_window [class="NEdit" instance="Information"] floating enable, border pixel 1
for_window [class="NEdit" instance="Warning"] floating enable, border pixel 1
for_window [class="NEdit" instance="Question"] floating enable, border pixel 1
for_window [class="NEdit" instance="Prompt_popup"] floating enable, border pixel 1
for_window [class="NEdit" instance="findDialog_popup"] floating enable, border pixel 1


# -----------------------------------------------------------------------------
# start a few useful programs

exec --no-startup-id ~/.config/sway/autostart.sh

exec  wl-paste -t text --watch clipman store 

exec wayvnc -r

include /etc/sway/config.d/*

