/* style sheet for waybar */

@import url("./colors.css"); /* dracula themed colors */

/*
@define-color ared #e06b74;
@define-color agreen #98c379;
@define-color ayellow #E5C07A;
@define-color ablue #62AEEF;
@define-color amagenta #C77800;
@define-color acyan #55B6C2;
*/

@define-color foreground #aaaaaa;
@define-color buttonbgalpha rgba(0,0,0,0.4);
@define-color buttonborder #666666;

* {
    border: none;
    border-radius: 4px;
    font-family: "NotoSans Nerd Font";
    font-size: 12pt;
    font-weight: normal;
    min-height: 0;
}

window#waybar {
    background: @background-darker-alpha;
    color: @foreground;
    padding: 0px;
    margin: 0px;
}

.modules-right {
    min-width: 800px;
}

/*#window {
    color: @foreground;
    padding-right: 20px;
    border-right: 0px solid #777;
}*/

#workspaces button {
    padding: 0 3px;
    margin: 0 1px;
    background: @buttonbgalpha; /*@background-darker; */
    color: @foreground; 
    border-left: 0px solid @foreground;
    border-right: 0px solid @foreground;
    border: 1px solid @buttonborder;
}

#workspaces button.focused {
    /*border: 0px solid #777;*/
    border: 1px solid @buttonborder; /*@background;*/
    color: @foreground; /*@background;*/ 
    background: @selection; /*@purple;*/
}

/*#workspaces button.active {
    border: 0px solid #fdf6e6;  
    border: 1px solid @buttonborder; 
    background: #6c71c4;
    color: #fdf6e3;            
}*/

/*#workspaces button.inactive {
    border: 0px solid #586e75;  / *1* / 
    border: 1px solid @buttonborder;
    background: @buttonborder;  / *2* /
    color: #586e75;             / *3* /
}*/

#workspaces button.urgent {
    border: 0px solid #d33682; /*1*/ 
    border: 1px solid #cccccc; /*@buttonborder;*/
    background: #d33682;       /*2*/
    color: #fdf6e3;            /*3*/
}

tooltip {
    font-family: "NotoSans Nerd Font";
    background: @background-darker;
    color:  @foreground;
    border: 1px solid @foreground;
}


#backlight,
#battery, 
#bluetooth,
#clock,
#cpu, 
#custom-clock,
#custom-disk_home, 
#custom-disk_root, 
#custom-docker, 
#custom-fanspeed,
#custom-hostname,
#custom-language,
#custom-launcher,
#custom-power,
#custom-scale, 
#custom-spotify, 
#custom-updates, 
#custom-weather,
#idle_inhibitor,
#language,
#memory, 
#mode, 
#mpd,
#network, 
#pulseaudio, 
#temperature, 
#tray,
#upower,
#window
{
    padding: 0 5px;
    margin: 0 1px;
    border-left: 0px solid #777;
    border-right: 0px solid #777;
    background: @buttonbgalpha; /*@background;*/
    color: @foreground;
    border: 1px solid @buttonborder;
}


#clock { 
    margin-right: 2px; 
}

#battery icon {
    color: red;
}

#upower.charging,
#battery.charging {
    color: yellow;
}

@keyframes blink {
    to {
        background-color: #ff9900;
    }
}

#battery.warning:not(.charging) {
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature.critical {
    background: #ff9900;
    color: red;
}

#network.disconnected {
    background: #f53c3c;
}

/*#custom-spotify {
    color: rgb(102, 220, 105);
}*/

#custom-updates.hover {
    background: #444;
}

.icon {
    border: 1px solid #ff0000;
}

